.bg-image-1,
.bg-image-2,
.bg-image-3 {
  background-size: cover;
  background-position: center;
}

.carousel-caption {
  width: 100%;
  margin-left: -14.2rem;
  margin-bottom: -20px;
  height: 270px;
  /* background-color: red; */
  padding: 50px 20px 0 20px;
}

.caption-1 .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-img-top {
  background-image: url(./asset/italia.jpg);
}

.left {
  margin: auto;
  width: 50px;
  height: 70px;
  background-color: rgba(244, 244, 244, 0.164);
  border-radius: 10px;
}

.right {
  margin: auto;
  width: 50px;
  height: 70px;
  background-color: rgba(244, 244, 244, 0.164);
  border-radius: 10px;
}

.contact {
  margin-top: 20px;
}

.contact a {
  display: inline-flex;
  justify-content: flex-start;
  margin-top: 10px;
  width: 35px;
  border-radius: 10px;
  color: rgb(59, 62, 65);
  transition: .3s;
}

.contact a:hover {
  transform: translateY(-10px);
  transition: .3s;
}

.des-img-1.japan:hover {
  opacity: 0.3;
}

/* Destination card */
.price {
  font-size: 15px;
}

.main.price {
  text-decoration: line-through;
}

.diskon {
  color: rgb(255, 119, 0);
}

/* Media Queries */
@media (max-width: 768px) {
  .carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 40px;
    margin-left: -55px;
  }

  .caption-1 {
    display: flex;
    align-items: end;
    height: 100px;
    flex-direction: row;
    gap: 5px;
}

.caption-1 h1,
.caption-1 .describe {
    display: none;
}

.caption-1 .btn {
    height: 30px;
    width: 150px;
    font-size: 10px;
}

.caption-2 {
    height: 100px;
}

.caption-3 {
    height: 100px;
}
.caption-3 h1, 
.caption-3 p {
  text-align: center;
}
}
